# Proyecto del Día 7 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv** provisto en esta lección. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.
2. **Fusión de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv** (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realiza análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

# 1. Lectura de Datos
Crea un DataFrame que contenga los datos provistos en el archivo Datos_Ventas_Tienda.csv provisto en esta lección. El archivo incluirá información como fecha de venta, categoría de producto, cantidad vendida y precio.

In [8]:
import pandas as pd

tienda_csv_url = "./tienda.csv"
tienda_df = pd.read_csv(tienda_csv_url)
tienda_df

         Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    1/17/2023  Electrónic         7              200         1400
1     9/1/2023  Electrónic         8              200         1600
2    7/29/2023    Juguetes         3               30           90
3    10/4/2023   Alimentos         4               10           40
4    2/28/2023  Electrónic         6              200         1200
..         ...         ...       ...              ...          ...
995  4/27/2023   Alimentos         2               10           20
996   6/9/2023        Ropa        10               50          500
997  8/21/2023   Alimentos         8               10           80
998  3/28/2023  Electrónic         6              200         1200
999   3/7/2023  Electrónic         4              200          800

[1000 rows x 5 columns]

# Fusión de Datos
Crea un segundo DataFrame que contenga los datos del archivo Datos_Ventas_Tienda2.csv (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

In [9]:
tienda_2_csv_url = "./tienda_2.csv"
tienda_2_df = pd.read_csv(tienda_2_csv_url)
tienda_concat = pd.concat([tienda_df, tienda_2_df])
tienda_concat

        Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0   1/17/2023  Electrónic         7              200         1400
1    9/1/2023  Electrónic         8              200         1600
2   7/29/2023    Juguetes         3               30           90
3   10/4/2023   Alimentos         4               10           40
4   2/28/2023  Electrónic         6              200         1200
..        ...         ...       ...              ...          ...
45  9/11/2023    Juguetes        10               30          300
46   1/3/2023    Juguetes        10               30          300
47  11/7/2023   Alimentos         3               10           30
48  8/20/2023  Electrónic         6              200         1200
49  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

# Tratamiento de Datos
Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y transformaciones básicas.

In [14]:
# Fecha, Producto,Cantidad, Precio Unitario, Total Venta
fecha_is_null = tienda_concat["Fecha"].isnull().sum() > 1
print(f"fecha_is_null: {fecha_is_null}")

producto_is_null = tienda_concat["Producto"].isnull().sum() > 1
print(f"producto_is_null: {producto_is_null}")

cantidad_is_null = tienda_concat["Cantidad"].isnull().sum() > 1
print(f"cantidad_is_null: {cantidad_is_null}")

fecha_is_null: False
producto_is_null: False
cantidad_is_null: False