# Combinar DataFrames en Pandas con join() 2

Dado el DataFrame productos_df con columnas ProductoID, Nombre y Precio, y el DataFrame categorias_df con columnas CategoriaID y NombreCategoria


```python
# Creamos los DataFrames de ejemplo
productos_df = pd.DataFrame({
    'ProductoID': [1, 2, 3, 4],
    'Nombre': ['Producto 1', 'Producto 2', 'Producto 3', 'Producto 4'],
    'Precio': [100, 150, 200, 250]
}).set_index('ProductoID')
 
categorias_df = pd.DataFrame({
    'CategoriaID': [1, 2],
    'NombreCategoria': ['Categoría 1', 'Categoría 2']
}).set_index('CategoriaID')
```


Donde ambos DataFrames están indexados por ProductoID y CategoriaID respectivamente, realiza una unión usando el método join() para combinar estos DataFrames en un nuevo DataFrames  nombrado: `df_combinado` basándote en sus índices, asegurándote de que todos los productos se muestren, independientemente de si tienen una categoría asignada o no.

Utiliza el método adecuado  para asegurar que todos los registros del DataFrame de la izquierda (productos_df en este caso) se incluyan en el DataFrame resultante df_combinado, independientemente de si tienen una correspondencia en el DataFrame de la derecha (categorias_df).

In [1]:
import pandas as pd

productos_df = pd.DataFrame({
    'ProductoID': [1, 2, 3, 4],
    'Nombre': ['Producto 1', 'Producto 2', 'Producto 3', 'Producto 4'],
    'Precio': [100, 150, 200, 250]
}).set_index('ProductoID')
 
categorias_df = pd.DataFrame({
    'CategoriaID': [1, 2],
    'NombreCategoria': ['Categoría 1', 'Categoría 2']
}).set_index('CategoriaID')

df_combinado = productos_df.join(categorias_df)
df_combinado

                Nombre  Precio NombreCategoria
ProductoID
1           Producto 1     100     Categoría 1
2           Producto 2     150     Categoría 2
3           Producto 3     200             NaN
4           Producto 4     250             NaN

# Combinar DataFrames en Pandas con join() 3

En este ejercicio, trabajarás con dos DataFrames: productos_df y categorias_df.

```python
productos_df = pd.DataFrame({
    'ProductoID': [1, 2, 3, 4],
    'Nombre': ['Producto 1', 'Producto 2', 'Producto 3', 'Producto 4'],
    'Precio': [100, 150, 200, 250]
})
 
productos_df = productos_df.set_index('ProductoID')
 
categorias_df = pd.DataFrame({
    'CategoriaID': [1, 2, 3],
    'NombreCategoria': ['Categoría 1', 'Categoría 2', 'Categoría 3']
}).set_index('CategoriaID')
```

Tu tarea es combinar estos DataFrames en un DataFrame llamado df_combinado de tal manera que se conserven todos los registros del DataFrame de productos_df, incluso si no tienen una categoría correspondiente en categorias_df. Para esto, debes utilizar el parámetro how="right" en el método join().

Instrucciones:

Combina los DataFrames productos_df y categorias_df utilizando el método join() y el parámetro how="right".

Asigna el resultado a un DataFrame llamado df_combinado.

In [3]:
import pandas as pd

productos_df = pd.DataFrame({
    'ProductoID': [1, 2, 3, 4],
    'Nombre': ['Producto 1', 'Producto 2', 'Producto 3', 'Producto 4'],
    'Precio': [100, 150, 200, 250]
})
productos_df = productos_df.set_index('ProductoID')
 
categorias_df = pd.DataFrame({
    'CategoriaID': [1, 2, 3],
    'NombreCategoria': ['Categoría 1', 'Categoría 2', 'Categoría 3']
}).set_index('CategoriaID')

df_combinado = categorias_df.join(productos_df, how='right')
df_combinado

           NombreCategoria      Nombre  Precio
ProductoID
1              Categoría 1  Producto 1     100
2              Categoría 2  Producto 2     150
3              Categoría 3  Producto 3     200
4                      NaN  Producto 4     250