In [4]:
import pandas as pd

shopping_xlsx_url = "./shopping.xlsx"
stock_values_xml_url = "./stock-values.xml"

shopping_df = pd.read_excel(shopping_xlsx_url)
shopping_df

     Id_usuario     Genero  Edad  Salario_estimado  Comprado
0      15624510  Masculino    19             19000         0
1      15810944  Masculino    35             20000         0
2      15668575   Femenino    26             43000         0
3      15603246   Femenino    27             57000         0
4      15804002  Masculino    19             76000         0
..          ...        ...   ...               ...       ...
395    15691863   Femenino    46             41000         1
396    15706071  Masculino    51             23000         1
397    15654296   Femenino    50             20000         1
398    15755018  Masculino    36             33000         0
399    15594041   Femenino    49             36000         1

[400 rows x 5 columns]

In [3]:
stock_values_df = pd.read_xml(stock_values_xml_url)
stock_values_df

          date closingValue
0   01-05-2023        25,05
1   02-05-2023        24,45
2   03-05-2023        24,45
3   04-05-2023        23,98
4   05-05-2023        24,56
5   06-05-2023        23,66
6   07-05-2023        24,38
7   08-05-2023        24,67
8   09-05-2023        25,15
9   10-05-2023        25,43
10  11-05-2023        25,43
11  12-05-2023        25,27
12  13-05-2023        25,27
13  14-05-2023        25,71
14  15-05-2023        25,71
15  16-05-2023        26,27
16  17-05-2023        26,27
17  18-05-2023        26,27
18  19-05-2023        27,13
19  20-05-2023         27,8
20  21-05-2023         27,5
21  22-05-2023        26,52
22  23-05-2023        26,52
23  24-05-2023        26,52
24  25-05-2023        27,16
25  26-05-2023        27,16
26  27-05-2023         27,8
27  28-05-2023        27,36
28  29-05-2023        27,59
29  30-05-2023        27,59
30  31-05-2023        28,14

In [11]:
import pandas as pd
numeros = {
    'romanos': ['I', 'II', 'III', 'IV'],
    'arabigos': [1, 2, 3, 4,],
    'texto': ["1", "2", "3", "4"],
}
df = pd.DataFrame(numeros)
df['Fechas'] = pd.Series(pd.date_range('20240101', periods=4))
df.to_excel("./numbers-date.xlxs", index=False)

ValueError: No engine for filetype: 'xlxs'